.about {
  width: 100%;
  padding: var(--space-xlg) 0;
  background-image: linear-gradient(var(--gradient-about));
}

.about p {
  margin-inline: auto;
  text-align: center;
  max-width: 780px;
  font-size: var(--text-2);
  color: rgba(var(--text-light-gray));
}

#about {
  width: 100%;
  z-index: -1;
}