.hero {
  height: 103vh;
  margin-top: calc(-1 * var(--appbar-height));
  background-image: linear-gradient(var(--gradient-hero)),
    url("/assets/hero-bg.png");
  position: relative;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.article h1,
.article p {
  text-align: center;
  color: var(--white);
}

.article p {
  /* transform: translateY(100px); */
  /* opacity: 0; */
  /* opacity: 0; */
}

.arrow {
  color: var(--white);
  position: absolute;
  bottom: 6.7%;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0; */
}
