.h1 {
  margin-top: calc(-1 * var(--space-2));
  line-height: 1;
  font-size: var(--text-xlg);
}
.h1 span {
  cursor: default;
}

.h1 > .business {
  /* text-transform: uppercase; */

  color: var(--primary);
}

.business > span:hover {
  transform: scale(2.3);
  transition: transform 0.2s ease;
}

.animate {
  display: inline-block;
  /* transition-delay: 3s; */
  animation-delay: calc(var(--index) * 0.2);
  animation-name: revert;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.71, -0.77, 0.43, 1.67);
  /* animation-fill-mode: forwards; */
}
@keyframes revert {
  0% {
    transform: translateY(-300px) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.solutions {
  display: inline-block;
  /* opacity: 0; */
  /* animation-name: fadeIn; */
  /* animation-delay: 4s; */
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.71, -0.77, 0.43, 1.67);
}

.solutions2 {
  display: inline-block;
  /* opacity: 0; */
  /* animation-name: fadeIn; */
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.71, -0.77, 0.43, 1.67);
}

@keyframes fadeIn {
  0% {
    transform: translate(0px, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
